__pycache__
.DS_Store
MNIST_data
*.so
build
convolve2d.c
deconvolve2d.c
max_pooling_functions.c
avxtest.c
*.prof
a.out

# other executable files
convolution
ned_convolution_test_avx

pyx/*.c
pyx/*.so
